	body {
	background-image: url("../images/fundo.png");
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none !important;
}

.pretop {
	background-color: black;
	padding: 8px;
}

.bananatop {
	background-image: url("../images/bananatop.png");
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
}

.navbar {
	margin: auto;
	display: table !important;
	margin-top: 5px;
}

<<<<<<< HEAD
.stack {
	display: flex;
	margin-top: 7px;
	letter-spacing: .05em;
	flex-direction: column;
}

.texto {
	font-size: 32px;
}

.textodiv {
	font-size: 10px;
}

.free {
	margin-right: 7px;
}

.iconphone {
=======
.textonav{
	
}

.iconphone{
>>>>>>> 0b824799e507ff6dfc637c7f4a1fd792a40d9945
	background-image: url("../images/bananatop.png");
	height: 20px;
	width: 20px;
	display: block;
	position: relative;
	margin-right: 7px;
}

.navelink {
	background-color: black;
	font-family: sans-serif;
	padding: 5px;
	color: gold;
}

.barrameio {
	text-align: center;
	margin-top: 20px;
}

.horizontal {
	display: inline;
	font-weight: bold;
	font-size: 30px;
	padding: 50px;
	font-family: impact;
}

.linksmeio {
	color: black;
}

.carousel-indicators li {
	width: 10px !important;
	height: 10px !important;
	border-radius: 100%;
	background-color: gold !important;
}

.carousel-indicators {
	margin-bottom: -30px;
}

.carousel-inner {
	margin-bottom: 15px;
}

.container {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.roupas img {
	width: 100%;
	height: auto;
	padding: 5px;
}

@media only screen and (max-width: 880px) {
	.barrameio {
		display: none;
		/* aplicar hidden pra do meio e pra da lateral pra quando a tela ficar mobile*/
	}
	.navbar {
		
		margin-top: 56px;
		background-color: black;
		justify-content: center !important;
	}
	.carroselmobile {
		background-color: black;
		padding: 20px;
	}

	.navegadiv{
		width: 100%;
		background-color: black;
	}